<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is needed to scan and create 3D models of pregnancy bumps.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arkit</string>
	</array>
	<key>CFBundleName</key>
	<string>BumpScan 3D</string>
	<key>CFBundleDisplayName</key>
	<string>BumpScan 3D</string>
</dict>
</plist>
